container_commands:
  01_overwrite_nginx_conf:
    # According to the documentation in the nginx.conf file on the ElasticBeanstalk servers:
    # "Modifications of nginx.conf can be performed using container_commands to modify the staged version
    # located in /tmp/deployment/config/etc#nginx#nginx.conf". The EB bootstrapping
    # process copies this file to /etc/nginx/nginx.conf
    # The modifications need to be made to the copy in the tmp directory so changes
    # don't get overwritten as part of the EB deployment cycle.
    command: "truncate -s0 /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf"
    command: "cp ./setup/nginx.conf /tmp/deployment/config/etc#nginx#nginx.conf"
