option_settings:
  - option_name: NPM_PATH
    value: /opt/elasticbeanstalk/node-install/node-v0.12.6-linux-x64/bin/npm

container_commands:
  # Need to grant write access to the node_modules so plugins can be installed
  01_chmod_node_modules:
    command: "chmod -R 777 /var/app/current/node_modules"

files:
  "/etc/nginx/conf.d/proxy.conf":
      mode: "000755"
      owner: root
      group: root
      content: |
        client_max_body_size 5M;

        proxy_intercept_errors on;
        # error_page 503 @503;
        # error_page 502 =503 @503;

        # http://stackoverflow.com/questions/5031818/show-a-custom-503-page-if-upstream-is-down
        error_page 502 503 /var/app/current/503.html;
