option_settings:
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 1200

  - namespace: aws:elasticbeanstalk:application
    option_name: "Application Healthcheck URL"
    value: "/__health"

  - namespace: aws:elb:healthcheck
    option_name: "Interval"
    value: 30

  - namespace: aws:elb:healthcheck
    option_name: "HealthyThreshold"
    value: 3

  - namespace: aws:elb:healthcheck
    option_name: "UnhealthyThreshold"
    value: 5

container_commands:
  01_overwrite_nginx_conf:
    # According to the documentation in the nginx.conf file on the ElasticBeanstalk servers:
    # "Modifications of nginx.conf can be performed using container_commands to modify the staged version
    # located in /tmp/deployment/config/#etc#nginx#nginx.conf". The EB bootstrapping
    # process copies this file to /etc/nginx/nginx.conf
    # The modifications need to be made to the copy in the tmp directory so changes
    # don't get overwritten as part of the EB deployment cycle.
    command: "cp ./.ebextensions/nginx/nginx.conf /tmp/deployment/config/#etc#nginx#nginx.conf"
